<div class="container py-5 mb5 mt-5">
  <div class="row py-4">
    <div class="col-md-8 order-md-1">
        <%= form_with(model: @category, class: "card p-2 mt-3", local: true) do |f| %>
          <div class="input-group">
            <%= f.text_field :name, class: "form-control", placeholder: "New Category Name" %>
            <div class="input-group-append">
              <%= f.submit class: "btn btn-primary" %>
            </div>
          </div>
          <% end %>
        </div>
    </div>
</div>
        