<footer class="footer text-center">
      <div class="container">
        <small>Copyright &copy; <a href="<%= root_path%>">Put The Things Together</a>
          by <em><a href="<%= root_path %>">Tarantababu</a></em>
        </small>
      </div>
    </footer>